<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sourcePath" value="C:\path\to\sync\"/>
    <add key="targetPath" value="/path/to/sync/"/>
    <add key="hostName" value="127.0.0.1"/>
    <add key="portNumber" value="22"/>
    <add key="userName" value="admin"/>
    <add key="password" value="admin"/>
    <add key="sshHostKeyFingerprint" value="ssh-rsa 2048 xx:xx:xx:xx:xx:xx..."/>
    <add key="initialSync" value="false"/>
  </appSettings>
</configuration>